[Desktop Entry]
Version=1.0
Name=Xgrab
Comment=Frontend for ffmpeg
Comment[fr]=Interface pour recordmydesktop
Exec=xgrab
Terminal=false
Type=Application
Icon=
Categories=AudioVideo;Recorder;
StartupNotify=false
